if theme.gitalk.enable == true
    #container
    link(rel='stylesheet', type='text/css', href='//cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css')
    script(type='text/javascript' src='//cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js' async)
    script.
      var gitalk = new Gitalk({
        clientID: '#{theme.gitalk.client_id}',
        clientSecret: '#{theme.gitalk.client_secret}',
        repo: '#{theme.gitalk.repo}',
        owner: '#{theme.gitalk.owner}',
        admin: ['#{theme.gitalk.admin}'],
        id: location.pathname,
        distractionFreeMode: false
      })
      gitalk.render('container')
