head
  meta(http-equiv='content-type', content='text/html; charset=utf-8')
  meta(content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0', name='viewport')
  meta(content='yes', name='apple-mobile-web-app-capable')
  meta(content='black-translucent', name='apple-mobile-web-app-status-bar-style')
  meta(content='telephone=no', name='format-detection')
  meta(name='description', content=config.description)
  block title
  //- link(rel='stylesheet', type='text/css', href=url_for(theme.css) + '/icon.css')
  //- link(rel='stylesheet', type='text/css', href=url_for(theme.css) + '/theme.css')
  link(rel='stylesheet', type='text/css', href=url_for(theme.css) + '/theme.min.css')
  link(rel='stylesheet', type='text/css', href='//lib.baomitu.com/normalize/8.0.1/normalize.min.css')
  link(rel='stylesheet', type='text/css', href='//lib.baomitu.com/pure/1.0.0/pure-min.css')
  link(rel='stylesheet', type='text/css', href='//lib.baomitu.com/pure/1.0.0/grids-responsive-min.css')
  script(type='text/javascript', src='//lib.baomitu.com/jquery/3.4.0/jquery.min.js')
  link(rel='icon', mask='',sizes='any', href=url_for('favicon.ico'))
  link(rel='Shortcut Icon', type='image/x-icon', href=url_for('favicon.ico'))
  if config.feed
    link(rel='alternate', type=feed_type, href=url_for(config.feed.path))
