extends base

block title
  title= page.title + ' | ' + config.title

block content
  .post
    h1.post-title= page.title
    .post-meta
      i(class='icon-calendar')
      span= page.date.format(config.date_format)
      if page.categories.length > 0
        span= ' | '
        i(class='icon-folder-open')
        for category in page.categories.toArray()
          a(href=url_for(category.path))= category.name
      if theme.busuanzi == true
        span= ' | '
        i(class='icon-star')
        span#busuanzi_container_page_pv
          span#busuanzi_value_page_pv
          span= ' ' + __('Hits')
      if theme.wordcount == true
        span= ' | '
        i(class="icon-keyboard-o")
        span= wordcount(page.content) + ' ' + __('word_cnt') + ' | '
        i(class="icon-hourglass-half")
        span= min2read(page.content) + ' ' + __('read_time')
    .post-content
      != page.content

    if theme.post_copyright.enable == true && page.copyright != false
      div
        ul.post-copyright
          li.post-copyright-author
            strong= __('copyright_author_prefix')
            = theme.post_copyright.author
          li.post-copyright-link
            strong= __('copyright_link_prefix')
            a(href='/' + page.path)= page.permalink
          li.post-copyright-license
            strong= __('copyright_declare_prefix')
            if theme.post_copyright.copyright_text
              != theme.post_copyright.copyright_text
            else
              != __('copyright_default_text')
      br

    if theme.shareto == true
      a.article-share-link(data-url=page.permalink, data-id=page._id, data-qrcode=qrcode(page.permalink))
        i(class='icon-share')
        !=__('shareto')

    if page.tags
      .tags
        for tag in page.tags.toArray()
          a(href=url_for(tag.path))
            i(class='icon-tag')
            = tag.name

    if page.next || page.prev
      .post-nav
        if page.prev
          a.pre(href=url_for(page.prev_link ? page.prev_link : page.prev.path))
            i(class='icon-prev')
            span= page.prev.title
        if page.next
          a.next(href=url_for(page.next_link ? page.next_link : page.next.path))
            span= page.next.title
            i(class='icon-next')

    if page.comments
      include _partial/comments.pug
